<div class="container teamsContainer">
    <div class="row">
        <div class="col">
            <div class="content pageHeading">
                <div class="main-heading">
                    <h1 class="text-black pageHeading" id="goalie">GoalKeepers</h1>
                </div>
                <div class="row">
                    <div class="goalkeepers positionsBox">
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">1</h5>
                                <div class="info">
                                    <p class="card-text name">kamogelo</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>                         
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">99</h5>
                                <div class="info">
                                    <p class="card-text name">Abel</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-heading">
                    <h1 class="text-black pageHeading">Defenders</h1>
                </div>
                <div class="row">
                    <div class="positionsBox">
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">2</h5>
                                <div class="info">
                                    <p class="card-text name">Shardrek</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">3</h5>
                                <div class="info">
                                    <p class="card-text name">Thabiso</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">4</h5>
                                <div class="info">
                                    <p class="card-text name">Mayoyo</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">5</h5>
                                <div class="info">
                                    <p class="card-text name">Thato</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">20</h5>
                                <div class="info">
                                    <p class="card-text name">Kamogelo</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-heading">
                    <h1 class="text-black pageHeading">Midfielders</h1>
                </div>
                <div class="row">
                    <div class="positionsBox">
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">6</h5>
                                <div class="info">
                                    <p class="card-text name">Kabelo</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">7</h5>
                                <div class="info">
                                    <p class="card-text name">Tshwarelo</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">13</h5>
                                <div class="info">
                                    <p class="card-text name">Konkie</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">10</h5>
                                <div class="info">
                                    <p class="card-text name">Gift</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">14</h5>
                                <div class="info">
                                    <p class="card-text name">Ibu</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-heading">
                    <h1 class="text-black pageHeading">Strikers</h1>
                </div>
                <div class="row">
                    <div class="positionsBox">
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">8</h5>
                                <div class="info">
                                    <p class="card-text name">Sonke</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">11</h5>
                                <div class="info">
                                    <p class="card-text name">Solo</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">9</h5>
                                <div class="info">
                                    <p class="card-text name">Mote</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">15</h5>
                                <div class="info">
                                    <p class="card-text name">Sandile</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white">
                            <img class="card-img" src="/assets/img/shirt1.png" alt="Card image">
                            <div class="card-img-overlay">
                                <h5 class="card-title number">16</h5>
                                <div class="info">
                                    <p class="card-text name">Nnuku</p>
                                    <p class="card-text position">GoalKeeper</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
