<div class="container supporter-container">
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="main-heading">
                    <h1>Become a Supporter</h1>
                </div>
                <div class="row">
                    <div class="products">
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/shirt1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Classic Mighty Golfer</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/shirt1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Plain Mighty Golfer</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/shirt1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Mighty Tracksuit Top</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/shirt1.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Mighty Tracksuit Pants</h5>
                            </div>
                        </div>
                    </div>
                    <div class="btnBox">
                        <a href="#"><input type="button" class="btnAll btnViewShop transitionSpeed" value="View Shop"></a>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>
</div>

