<div class="footer">
    <div class="row">
        <div class="col">
            <div class="footer-content">
                <h4 id="footer-header">Mighty Guard FC</h4>
                <div class="socials">
                    <img src="/assets/img/fc-BL.png" alt="">
                    <img src="/assets/img/in-BL.png" alt="">
                </div>
                <div class="info-box">
                    <h5>Talk to us</h5>
                    <p>mightyguard09@gmail.com</p>
                    <p>060 491 2539</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <p>copyright &copy;2023 Mighty Guard FC. Developed and Designed by Laoditius-M Ltd</p>
</div>
