<div class="container gallery-container">
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="main-heading pageHeading">
                    <h1 class="text-black">Gallery</h1>
                </div>
                <div class="row">
                    <div class="galleryBox">
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                        <div class="img-Box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</div>
