<div class="container stadium-container">
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="main-heading pageHeading">
                    <h1 class="text-black">Stadium</h1>
                </div>
                <div class="img-container">
                    <div class="img-box">
                        <img src="/assets/img/TheGuards-1.png" alt="">
                    </div>
                    <div class="stadium-title">
                        <h4>Mighty Guard FC Ground</h4>
                    </div>
                </div>
                <div class="stadium-content">
                    <div class="stadium-img">
                        <img src="/assets/img/TheGuards-1.png" alt="">
                        <img src="/assets/img/TheGuards-1.png" alt="">
                        <img src="/assets/img/TheGuards-1.png" alt="">
                        <img src="/assets/img/TheGuards-1.png" alt="">
                    </div>
                    <div class="location">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.1300006001716!2d28.92025854430678!3d-24.893546921330795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ec062713cba44cf%3A0x707a42777fb1fde9!2sMalebitsa%20Black%20Rangers%20Stadium!5e0!3m2!1sen!2sza!4v1684285024354!5m2!1sen!2sza"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
