<div class="container mission-container bg-white">
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="main-heading">
                    <h1 class="text-black">Mission Statement</h1>
                </div>
                <div class="mission motto container text-white text-uppercase">
                    <h1 class="text-black"><span class="commas">"</span>Uplift the spirit of the black youth and to build a brighter
                        future generation<span id="fullStop">.</span><span class="commas">"</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container founder-container">
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="main-heading">
                    <h1 class="text-white">Founder</h1>
                </div>
                <div class="row">
                    <div class="col-md-5 col-12">
                        <div class="img-box">
                            <img src="/assets/img/founder.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-12 abt-content">
                        <h4 class="about-heading text-white">Lebogang Mboyane<span id="fullStop">.</span></h4>
                        <p class="about-content text-white">Mighty Guard FC is a local Kasi Football Team
                            situated in a village outside Marble Hall. We
                            aspire to inspire the youth of Malebitsa to
                            work hard on achieving their dreams and
                            goals - not only in soccer but in life as well.
                
                            <br><br>Our goal is to develop local talent that can
                            soon be seen playing for World Class Teams
                            all around the world and to help the youth
                            realize their dreams. We believe in progression
                            over perfection.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="container founderImages">
    
    <div class="img-box">
        <img src="/assets/img/founder.png" alt="">
        <img src="/assets/img/founder.png" alt="">
        <img src="/assets/img/founder.png" alt="">
        <img src="/assets/img/founder.png" alt="">
    </div>
          

</div>
