<div class="container shop-container">
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="main-heading pageHeading">
                    <h1 class="text-black">Shop</h1>
                </div>
                <div class="row">
                    <div class="productsBx">
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/shirt1.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title itemName">Classic Golfer</h5>
                                <h5 class="card-title price">R150.00</h5>
                                <button class="btn btn-order">Order</button>
                            </div>                          
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/shirt1.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title itemName">Plain Golfer</h5>
                                <h5 class="card-title price">R130.00</h5>
                                <button class="btn btn-order">Order</button>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/shirt1.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title itemName">Tracksuit Top</h5>
                                <h5 class="card-title price">R150.00</h5>
                                <button class="btn btn-order">Order</button>
                            </div>
                        </div>
                        <div class="card">
                            <img class="card-img-top" src="/assets/img/shirt1.png" alt="">
                            <div class="card-body">
                                <h5 class="card-title itemName">Tracksuit Pants</h5>
                                <h5 class="card-title price">R200.00</h5>
                                <button class="btn btn-order">Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
