<nav class="navbar transitionSpeed">
        <div class="navbar-logo">
            <a href="#" class="navbar-brand">
                <img src="/assets/img/mightyG-Logo.png" id="logo-img" alt="">
            </a>
        </div>
            <ul class="navbar-nav nav-menu">
                <li class="nav-item">
                    <a href="#" routerLink="team" class="nav-link">Team</a>
                </li>
                <li class="nav-item">
                    <a href="#" routerLink="matches" class="nav-link">Matches</a>
                </li>
                <li class="nav-item">
                    <a href="#" routerLink="stadium" class="nav-link">Stadium</a>
                </li>
                <li class="nav-item">
                    <a href="#" routerLink="gallery" class="nav-link">Gallery</a>
                </li>
                <li class="nav-item">
                    <a href="#" routerLink="shop" class="nav-link shopItem">Shop</a>
                </li>
            </ul>
        <div class="socials-container">
            <div class="socials-box">
                <a href="https://web.facebook.com/MLBMightyGuardFC" target="_blank"><img src="/assets/img/facebook.png" alt=""></a>
            </div>
            <div class="socials-box">
                <a href="https://www.instagram.com/mlb_mightyguardfc/" target="_blank"><img src="/assets/img/instagram.png" alt=""></a>
            </div>
        </div>
        <div class="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
</nav>
