<div class="container aboutUs-container">
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="main-heading">
                    <h1>The Guards</h1>
                </div>
                <div class="row">
                    <div class="col-md-5 col-12">
                        <div class="img-box">
                            <img src="/assets/img/TheGuards-1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-7 col-12 abt-content">
                        <h4 class="about-heading">We are the Pride of Malebitsa<span id="fullStop">.</span></h4>
                        <p class="about-content">Mighty Guard FC is a local Kasi Football Team
                        situated in a village outside Marble Hall. We
                        aspire to inspire the youth of Malebitsa to
                        work hard on achieving their dreams and
                        goals - not only in soccer but in life as well.
                        
                        <br><br>Our goal is to develop local talent that can
                        soon be seen playing for World Class Teams
                        all around the world and to help the youth
                        realize their dreams. We believe in progression
                        over perfection.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="motto container text-white text-uppercase">
    <h1><span class="commas">"</span>United we stand, Forward we go<span id="fullStop">.</span><span class="commas">"</span></h1>
</div>