<div class="container banner-container">
    <div class="row">
        <div class="col">
            <div class="content">
                <div class="banner">
                    <div class="text-box">
                        <h1>The Pride of Malebitsa</h1>
                        <h4>United We Stand - Forward We Go</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-about-us></app-about-us>
<app-become-a-fan></app-become-a-fan>
<app-first-team></app-first-team>
<app-founder></app-founder>
