<div class="container firstTeam-container">
    <div class="row">
        <div class="col">
            <div class="main-heading content">
                <h1 class="heading-w">First Team</h1>
            </div>
            <div id="splide" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide"><img src="/assets/img/shirt1.png"></li>
                        <li class="splide__slide"><img src="/assets/img/shirt1.png"></li>
                        <li class="splide__slide"><img src="/assets/img/shirt1.png"></li>
                        <li class="splide__slide"><img src="/assets/img/shirt1.png"></li>
                        <li class="splide__slide"><img src="/assets/img/shirt1.png"></li>
                        <li class="splide__slide"><img src="/assets/img/shirt1.png"></li>
                        <li class="splide__slide"><img src="/assets/img/shirt1.png"></li>
                        <li class="splide__slide"><img src="/assets/img/shirt1.png"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

